h1,h2,p {
    text-align: center;
}

body{
   background-image: url(https://th.bing.com/th/id/R.d7c2cc2484377c576b4b0413c38d970e?rik=t9%2fUV9ivy4szQw&riu=http%3a%2f%2fupload.wikimedia.org%2fwikipedia%2fcommons%2f4%2f48%2fDark_roasted_espresso_blend_coffee_beans_1.jpg&ehk=U05m9CD5Ve%2bPiIPFsGURNU14ro%2bxBZzV0YttoQA0caw%3d&risl=1&pid=ImgRaw&r=0);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   margin: 0;
   font-family: sans-serif;
   padding: 20px;
}

.menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

.flavor, .dessert {
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
}

.item p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

h1, h2 {
    font-family: impact, serif;
}

.established {
    font-style: italic;
}

h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
}

hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}

.bottom-line {
    margin-top: 25px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
}
.address {
    margin-bottom: 5px;
}
/* FOOTER */

footer {
    font-size: 14px;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: brown;
}

a:active {
    color: brown;
}